body {
  background: #ebebe8ad;
  font-family: "Gill Sans";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
}
#about-us-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1 {
  color: black;
  font-weight: 300;
}
h2 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
}
#about-me {
  height: 200px;
  width: 500px;
  font-size: 110%;
  padding: 25px;
}
#skill-icons {
  font-size: 85px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60vw;
  margin: 25px;
  padding: 0;
}
#contact-icons {
  font-size: 75px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  width: 15vw;
}
#icon-title {
  font-size: 20px;
}
#more-skills {
  font-size: 125%;
  display: table;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: flex-start;
  width: 50vw;
}
ul {
  display: inline-block;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
}
li a {
  white-space: nowrap;
}
li:after {
  content: " ";
  letter-spacing: 1em;
  background: center center no-repeat
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=);
}
h3 {
  font-weight: 400;
  font-size: 140%;
}
.icon-box a {
  text-decoration: none;
}
.icon-box a:hover {
  border: solid 1px rgba(0, 0, 0, 0.61);
}
hr {
  width: 80%;
  height: 1px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 100vw;
  height: 20vh;
  background-color: #f79489;
  align-items: center;
  margin-bottom: 60px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.name-container {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  color: black;
}
.nav-menu a {
  padding: 20px;
  font-size: 23px;
  color: black;
  font-weight: 330;
  text-decoration: none;
}
.nav-menu a:hover {
  text-decoration: underline;
  font-weight: 400;
}
html {
  background-color: #778f66;
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}
#project-description p {
  font-weight: 350;
  font-size: 120%;
  margin-top: 5px;
}
#project-title {
  text-decoration: underline black;
}
footer {
  font-size: 120%;
}
